.botonDetalle{
    width: 90%;
    margin: 0px 0px;
    padding: 3% 0%;
    font-family: $fuente;
    background-color: $color-blanco;
    color: $color-negro;
    border: 1px solid $color-borde-claro;
    border-radius: 10px;

    &:hover{
        background-color: $color-principal;
        color: $color-blanco;
        border: 1px solid $color-principal;
    }
}

.botonAgregar{
    width: 90%;
    margin: 0px 0px;
    padding: 3% 0%;
    font-family: $fuente;
    background-color: $color-blanco;
    color: $color-negro;
    border: 1px solid $color-borde-claro;
    border-radius: 10px;

    &:hover{
        background-color: $color-principal;
        color: $color-blanco;
        border: 1px solid $color-principal;
    }
}