.boton{
    width: 90%;
    margin: 0px 0px;
    padding: 3% 0%;
    font-family: $fuente;
    background-color: $color-blanco;
    color: $color-negro;
    border: 1px solid $color-borde-oscuro;
    border-radius: 5px;
    font-size: 14px;

    &:hover{
        background-color: $color-principal;
        color: $color-blanco;
        border: 1px solid $color-principal;
    }
}

.boton-terminar{
    width: 90%;
    margin: 0px 0px;
    padding: 3% 0%;
    font-family: $fuente;
    background-color: $color-blanco;
    color: $color-negro;
    border: 1px solid $color-borde-oscuro;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;

    &:hover{
        background-color: $color-negro;
        color: $color-blanco;
        border: 1px solid $color-negro;
    }
}