.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 5%;
    margin: 25px 15% 150px 15%;

    .item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 1%;
        border: 1px solid $color-borde-oscuro;
        border-radius: 5px;
    
        &:hover{
            box-shadow: 0px 15px 30px -10px;
        }

        .item-imagen{
            height: 45%;
        
            img{
                width: 150px;
                height: 150px;
            }
        }
        
        .item-nombre{
            height: 15%;
        }
        
        .item-footer{
            width: 100%;
            min-height: 40%;
            max-height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            .contenedor-detalle{
                width: 90%;
                display: flex;
                justify-content: center;
            }
        }
    }
}

