.contenedor-item-detalle{   
    display: flex;
    justify-content: center;
    
    .item-detalle{
        display: flex;
        width: 50%;
        border: 1px solid $color-borde-oscuro;
        border-radius: 10px;
        box-shadow: 0px 10px 30px -15px;
        overflow: hidden;
    
        .item-imagen{
            width: 50%;
            height: 100%;
            z-index: 1;           

            img{
                width: 400px;
                height: 400px;
            }
        }

        .separador{
            margin-left: 1%;
            border-color: $color-borde-claro;
        }

        .item-detalle-columna{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 30px 5%;
            text-align: left;

            .item-nombre{
                display: flex;
                align-items: flex-start;
                min-height: 25%;
            }

            .item-descripcion{
                display: flex;
                align-items: center;
                min-height: 30%;
            }

            .item-valores{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;

                .item-precio{                    
                    margin-right: 5%;
                }

                .item-total{
                    color: #404040;
                }
            }

            .contenedor-contador{
                min-height: 35%;
                display: flex;
                align-items: center;
            }
        }
    }
}

