header{
    width: 100%;
    max-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: $marca;
    font-size: 1em;
    box-shadow: 0px 10px 15px -10px;
    
    .marca{
        width: 15%;
        padding: 0% 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div{
            display: flex;
            align-items: center;
            
            h1{
                font-size: 1.6em;
                font-weight: normal;
                color: $color-negro;
            }
        }
        
        img{
            max-width: 62px;
            max-height: 45px;
        }

        a{
            text-decoration: none;
        }
    }
    
    nav{
        z-index: 100;
        width: 75%;  
        display: flex;
        justify-content: center;

        .menu-horizontal{
            width: 70%;
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding: 0px 50px;
            
            li{
                
                a{
                    display: block;
                    padding: 5px 0px;
                    text-decoration: none;
                    color: $color-negro;
                    border-bottom: 3px solid transparent;

                    &:hover{
                        color: $color-principal;
                        border-color: $color-principal;
                    }

                    /* &:hover{
                        color: $color-blanco;
                        background-color: $color-principal;
                        border-radius: 5px;
                    } */
                }
            }
        }
    }

    .cart{   
        display: flex;
        align-items: center;
        justify-content: center;        
        padding: 0% 5%;
        width: 10%;     
        border: 0px;
        font-family: $fuente;
        font-size: 16px;
    }

    .widget-carrito{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

